/* Import  */
@import url('https://fonts.googleapis.com/css2?family=Gilda+Display&family=Gochi+Hand&family=Grenze:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Gugi&family=Jersey+10&family=Mochiy+Pop+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: var(--main-deksripsi-font);

}

html{
  overflow-x: hidden;
}

body {
  margin: 0;
  display: grid;
  align-items: center;
  min-height: 100vh;
  justify-content: center;
  font-family: Arial, sans-serif;
  background-color: var(--bg-color);
  color : var(--text-color);
}

/* Variable yang digunakan */
:root {

  /* Warna */
  --navbar-color: #2F1D1D;
  --bg-color: #140808;
  --text-color : white;
  --main-color : #2F1D1D;
  --hover-color : #FF0000;

  /* Font  */
  --main-katagori-font : 'Grenze', serif;
  --main-deksripsi-font:  'Gilda Display', serif;
  --main-footer-kategori-font :'jersey 10', serif;
  --main-navbar-kategori-font :'Monserrat',serif;
  --main-bottom-font:'Gochi and',serif;
  --main-footer-deksripsi-font: 'Gugi',serif;
  --main-laman-kategori-font : 'Mochiy Pop One' serif;
  
  /* Layout Foto*/
  --layout-position: relative;
  --layout-bottom : 25px;
  --layout-width :48vh;
  --layout-height :30vh;
  --layout-objet-fit :cover;
  --layout-border-radius: 4px;
  /* Z- index Menyesuaikan*/  

  /* Icon Play*/
  --icon-play-position : absolute;
  --icon-play-color :var(--text-color);
  --icon-play-font-size :10vh;
  --icon-play-top : 45%;
  --icon-play-left :50%;
  --icon-play-transform : translate(-50%, -50%);
  --icon-play-opacity: 0;
  --icon-play-transition: opacity 0.3s ease, z-index 0.3s ease;
  /* Z- index Menyesuaikan*/

}

/* Nabvar*/
.header{
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  padding : 23px 8%;
  background: var(--navbar-color);
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  box-shadow: 1px 3px 4px rgba(0,0,0,0.6);
}

/* Garis Lurus putih */
.separator { 
  width: 100%; 
  height: 2px;
  background: white; margin: 20px 0; 
}

.rekomendasi .separator { 
  position: absolute;
  top: 96.5%;
  width: 100%; 
  height: 2px;
  background: white; margin: 20px 0; 
}

/* Menu icon*/
#menu-icon{
  display: none;
  position: relative;
  right : 24.9rem;
  font-size: 2rem;
  color : var(--text-color);
}

/* teks icon*/
.icon{
  font-size:20px;
  font-family: var(--main-navbar-kategori-font);
  color: var(--text-color);
}

/* navigasi tulisan*/
.navigasi a{
  font-size: 20px;
  margin: 20px;
  font-family: var(--main-navbar-kategori-font);
  color:var(--text-color);
  position :relative;
  left: 20rem;
  transition: 0.1s ease-in;
}

/* icon search*/
#search-icon{
  position: relative;
  left: 10rem;
  font-size: 25px;  
  color: var(--text-color);
  cursor: pointer;
}

/* Hover navigasi*/
.navigasi a:hover{
  color: var(--hover-color);
  transform:scale(1.1);
}

/* hover search */
.icon:hover{
  color : var(--hover-color);
  transform: scale(1,1);
}

/* Search placeholder */
.search input{
  display: none; 
  position: fixed;
  top :115%;
  width: 12rem;
  height: 17px;
  left: 75%;
  transform: translate(-50%, -50%);
  background-color: var(--main-color);
  color : var(--text-color);
  padding :5px 10px;
  box-shadow : 0 5px 15px var(--bg-color);
  border-radius: 3px;
  z-index:1000;
  border:none;
}

/* Search placeholder */
.hero-content img{
  position: relative;
  position-area: center;
  height: 100vh;
  width: 100%;
  box-shadow: var(--bg-color);
  border :none;

}

/* Icon Solo Leveling*/
.hero-text img{
  position: absolute;
  top :27%;

}
/* Deskripsi Solo Leveling*/
.hero-text p{
  position: absolute;
  top:73%;
  left:5%;
  width:570px;
  font-family: var(--main-deksripsi-font);
  font-size: 1.2rem;
}

/*Bottom play*/
.play, .play{
  position: absolute;
  display: inline-flex;
  align-items: center;
  top: 60%;
  left: 7%;
  height: 33px;
  width: 135px;
  padding: 4px;
  border-radius: 3px;
  background-color:#00A4E1;
  color: var(--text-color);
  cursor: pointer;
  justify-content: center;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.6);
  transition: 0.2s ease;
}

/* Icon Play */
.play i{
  font-size: 20px;
  
}

/* Bottom Add To My List */
.add, .add{
  position: absolute;
  display: inline-flex;
  top: 60%;
  left: 19%;
  align-items: center;
  padding: 4px;
  width: 135px;
  height: 33px;
  border-radius: 3px;
  background-color: #51585B;
  color:var(--text-color);
  cursor: pointer;
  justify-content: space-evenly;
  box-shadow: var(--bg-color);
  text-shadow: 2px 2px 4px rgba(0,0,0,0.6);
  transition: 0.2s ease;
}

/*Hover Bottom Play*/
.play:hover{
  color: #000000;
  background-color: var(--text-color);
  transform:scale(1.1.2);
}

/* Hover Bottom add */
.add:hover{
  color: #000000;
  background-color: var(--text-color);
  transform: scale(1.1.2) ;
}

.rekomendasi a{
position: absolute;
font-family: var(--main-katagori-font);
color: var(--text-color);
font-size: 3vh;
left: 1%;
bottom: 11px;
}

/* hover rekomendasi */
.rekomendasi a:hover{
  color: var(--hover-color);
  transform: scale(1);
}

/* news-update text*/
.news-update h2{
  position: relative;
  font-family: var(--main-katagori-font);
  left: 30px;
  bottom: 5vh;
}

/* icon plus */
.news-update i{
  font-size: 4vh;
}

/* Poster */
.poster{
  display: flex;
  position: relative;
  flex-wrap: wrap;
}
/* news-update poster*/
.posterlandscape{
  display: flex;
  position: relative;
  margin: 10px;
  align-items: center;
  justify-content: center;
  z-index: 96;
  transition: transform 0.1s ease;
} 

/* icon play*/
.posterlandscape i{
  position: var(--icon-play-position);
  color : var(--icon-play-color);
  font-size: var(--icon-play-font-size);
  top: var(--icon-play-top);
  left: var(--icon-play-left);
  transform: var(--icon-play-transform);
  opacity: var(--icon-play-opacity);
  transition: var(--icon-play-transition);
  z-index: 98;
}

/* news-update pict */
.posterlandscape img{
  position: var(--layout-position);
  bottom :var(--layout-bottom);
  width: var(--layout-width);
  height: var(--layout-height);
  object-fit: var(--layout-objet-fit);
  border-radius: var(--layout-border-radius);
  z-index: 96;  
} 

.posterlandscape:hover i{
  opacity: 1;
  color: var(--text-color);
  z-index: 99;
}

/* hover  news -update gambar*/
.posterlandscape:hover img{
  transform: scale(1.04);
  transition: 0.1s ease;
  color: var(--bg-color);
  opacity: 30%;
  z-index: 97;
}

/*movie text*/
.movie h2{
 position: relative;
 font-family: var(--main-katagori-font);
 left: 2%;
 bottom: 5vh;
}

/*movie icon plus*/
.movie i{
  font-size: 4vh;
}
/* poster 1*/
.poster1{
  display: flex;
  flex-wrap: wrap;
  position: relative;
}
/* icon play psoter 2 */
.posterlandscape i{
  position: var(--icon-play-position);
  color : var(--icon-play-color);
  font-size: var(--icon-play-font-size);
  top: var(--icon-play-top);
  left: var(--icon-play-left);
  transform: var(--icon-play-transform);
  opacity: var(--icon-play-opacity);
  transition: var(--icon-play-transition);
  z-index: 98;
}

/* on-going text */
.on-going h2{
  position: relative;
  font-family: var(--main-katagori-font);
  bottom: 4.9vh;
  left: 5vh;
}
/* on-going icon */
.on-going i{
  font-size: 4vh;
}
/*poster2*/
.poster2{
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

/* icon play psoter 2 */
.posterlandscape i{
  position: var(--icon-play-position);
  color : var(--icon-play-color);
  font-size: var(--icon-play-font-size);
  top: var(--icon-play-top);
  left: var(--icon-play-left);
  transform: var(--icon-play-transform);
  opacity: var(--icon-play-opacity);
  transition: var(--icon-play-transition);
  z-index: 98;
}
/* Footer */
.footer{
  display: flex;
  position: relative;
  flex-wrap: wrap;
}
/* Footer-content*/
.footer-content{
  display: flex;
  justify-content: center;
  background-color: var(--bg-color);
  margin: 16px;
  padding: 10px;
  background-color: var(--bg-color);
}
/* membuat text berada di tengah */
.footer-content > div{
  display : flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 10px;
}

/* Footer title*/
.footer-content h3{
  position : relative;
  position: relative;
  align-items: center;
  font-family: var(--main-footer-kategori-font);
  text-shadow: 0px 0px 0px rgba(0,0,0,0.6);
  font-size: 4vh;
}
/* deskripsi footer */
.footer-content p{
  position: relative;
  font-size: 3vh;
  font-family: var(--main-footer-deksripsi-font);
}

/* Hover Laporan Error */
.laporkan p:hover{
  color: var(--hover-color);
}

/* Poster 3*/
.poster3{
  display :flex;
  flex-wrap: wrap;
  position: relative;
}

/* Poster 4*/
.poster4{
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

/* navigasi laman rekomendasi */
.laman{
  display: flex;
  flex-wrap: wrap;
  position: relative;
  justify-content: center;
  gap:20px;
}

/* nav nomor 1-5 */
.laman h1{
  position: relative;
  font-family: var(--main-laman-kategori-font);
  font-size: 4vh;
  margin: 10px;
  top: 1px;
}

/* tombol */
.laman button{
  position: relative;
  font-size: 1vh;
  height: 5vh;
  transition: 0.3s ease;
  border: none;
}

/* tombol */
.laman .laman1 {
  margin: 7px;
  padding: 5px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color:var(--bg-color);
  font-family: var(--main-laman-kategori-font);
  transition: 0.3s ease;
}

/* hover bottum */
.laman button:hover{
  background-color:var(--hover-color);
}

/* Komentar */
.komentar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: none;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
    width: 100%;
    max-width: 90%;
}

/* Komentar Text */
.komentar h2 {
    margin-bottom: 10px;
    font-size: 20px;
    color: var(--text-color);
    text-align: center;
}

/* Komentar place holder */
.komentar1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.komentar1 input {
    width: 125vh;
    height: 3%;
    border: 1px solid #000000;
    background-color: var(--main-color);
    padding: 10px;
    color: var(--text-color);
    margin-bottom: 15px;
    font-size: 16px;
    resize: none;
    border-radius: 3px;
}

.komentar1 button {
    cursor: pointer;
    padding: 16px;
    border-radius: 5px;
    width: 100%;
    color: var(--bg-color);
    background-color: var(--hover-color);
    border: none;
    margin-top: 10px;
    transition: background-color 0.3s ease;
}

.komentar1 button:hover {
    background-color: var(--text-color);
}

.komentar-list {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-height: 60vh;
    overflow-y: auto;
}

.komentar-list .komentar-item {
    background-color: var(--bg-color);
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
    text-align: center;
}

